$mainColor: purple;

.layout {
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 
 gap: 30px;
 min-width: 100vw;
 
 padding: 20px;


}

@media (max-width: 768px) {
  .layout {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    gap: 30px;
    min-width: 100vw;
    
    padding: 20px;


  }
}